<h1>Slack Channels</h1>
<% if !current_user.nil? %>
  <ul>
    <% @channels.each do |channel| %>
      <li><b><#<%= "#{channel.channel_name}"%>:</b>
        <%= "#{channel.purpose}" %> </li>
    <% end %>
</ul>
<% end %>
