<div class="row">
<div class="test-move">
  <div class="large-12 columns" style="background-color:white;">

    <b><center><h2 class="roboto-stuff">Welcome to SlackTrack!</h2></center></b>
      <p class="splash-text">SlackTrack Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
         qui officia deserunt mollit anim id est laborum.<br><br>

        To begin, please browse your Slack Team's available public channels
       or view your existing saved Pins:<br><br>
     <center><b><h4><%= link_to "Channels", channels_path %><br>
     <%= link_to "Pinned Messages", pins_path %></h4></b></center></p>
       </li>
  </div>
</div>
</div>
