<div class="row">

  <div class="large-12 columns" style="background-color:white;">
    <b><center><h2 class="roboto-stuff"><%= current_user.name%>'s Recently Pinned Messages</h2>
    </center></b>
    <% if !current_user.nil? %>
      <ul>
      <% @pins.each do |pin| %>
        <li><b><%= "#{pin.slack_username}"%></b> <%=
        "(#{DateTime.strptime(pin.ts, '%s')}):
         #{pin.slack_message}"%></li>
      <% end %>
      </ul>
      <b><center><center><b><h5><%= link_to "Return to Slack Channels", channels_path %></h5><br>

    <% end %>
  </div>

</div>
</body>
