<div class="row"  id="wrapper">
  <div class="large-12  columns">
    <div class="kickstart"><img src="img/kick-start.png">
      <p class="getfit"><img src="img/get-fit.png"></p>
      <p class="home-text"> BodyMetrix Personal Training is a new company, based in South London, aiming to bring one-on-one training sessions and personalised exercise and nutrition plans. </p>
      <p class="get-contact"><img src="img/get-contact-btn.png"></p>
      </div>
      </div>
    </div>
