<html>
<head>
  <%= google_webfonts_init({
    google: ['Pacifico']
  }) %>
  <%= google_webfonts_init({
    google: ['Roboto Condensed']
  }) %>
</head>
  <div class="center-centered">
    <div class="bar">
      <%= image_tag('slacklogo.png') %><h1 class="h1title">track</h1>
    </div>
  </div>

<%= button_to "Sign in with Slack", '/users/auth/slack', {class: 'button'} %>
<script type="text/javascript" script-name="annie-use-your-telescope" src="http://use.edgefonts.net/annie-use-your-telescope.js"></script>


</html>
